.toolbar {
    display: flex; /* Activa el modelo Flexbox */
    justify-content: space-between; /* Distribuye los elementos a los extremos */
    align-items: center; /* Alinea los elementos verticalmente (si hay diferencia de altura) */
    padding: 0 100px; /* Espaciado interno opcional */
}

.botones    {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-right: 10px;
}

.head   {
display: flex;
}

.idk    {
    justify-content: space-between;
    display: flex;
    gap: 10px;
}


.listview   {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.link   {
    background: transparent;
}

.idk2   {
    display: flex;
    gap: 20px;
}

.title  {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: white;
}

.subtitle   {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: white;    
}

body    {
    background-color: black;
}