/* Toolbar */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Aseguramos que la toolbar ocupe todo el ancho */
}

/* Botones de eliminar y editar */
.botones {
    display: flex;
    gap: 10px;
    justify-content: flex-start; /* Alineamos los botones a la izquierda */
}

/* Contenedor de la imagen y detalles del álbum */
.head {
    display: flex;
    flex-direction: column; /* Cambiar la dirección a columna para que la imagen y los textos estén en una columna */
    align-items: center; /* Centrar los elementos dentro de la columna */
    gap: 20px; /* Espacio entre la imagen y los textos */
    margin-top: 20px;
    width: 100%; /* Aseguramos que ocupe todo el ancho posible */
}

/* Contenedor de la imagen y los detalles de la canción */
.idk {
    display: flex;
    gap: 10px;
    width: 100%; /* Aseguramos que ocupe todo el ancho disponible */
}

/* Estilos para las listas de pistas */
.listview {
    justify-content: space-between;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

/* Elementos dentro de las pistas */
.idk2 {
    display: flex;
    gap: 10px;
}

/* Estilos de texto */
.subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: white;    
}

.title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: white;
}

body {
    background-color: black;
    margin: 0;
    padding: 50px;
}

/* Imágenes */
.portadas {
    max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
    height: auto; /* Mantiene la relación de aspecto */
}

label {
    font-size: 14px;
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
}